.GO{
    display: flex;
    min-height: 100%;
    background-color: rgba(50,50,50,1);

    justify-content: center;
    align-items: center;

    top:0;
    left:0;

    width:100%;

    position: absolute;
    z-index: 1;
}

.gameover{
    background-color: black;
    color:red;
    font-size: 2.5rem;
    font-weight: 700;

    text-align: center;

    padding-top:35px;

    width:100%;
    height:100px;

    position: absolute;

    top:25rem;

}